body{
  background: radial-gradient(circle, rgba(218,103,209,1) 15%, rgba(171,89,162,1) 60%, rgba(84,55,85,1) 100%);
}
.App {
  text-align: center;
  
}

nav ul, .menue{
  display: flex;
  align-items: center;
}
a {
  margin: 1rem;
}


.inputfield {
  margin: .5rem;
  padding: .5rem;
}
.post {
  display: flex;
  border-radius: 1rem;
  background-color: bisque;
  justify-content: space-between;
  margin: .5rem;
  padding: .5rem;
}